

/* Brand Color's */
:root{
 --light-yallow:#f3890614;
    --white:#fff;
    --black:#000;
    --yallow:#f38906;
    --box-shadow:rgba(255, 255, 255, 1);

    --box-shadow-2:rgba(204, 206, 221, 1);

    --blue: #ff5e14;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow-darck: #ffc107;
    --green: #28a745;
    --teal: #242e6f;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #9099a9;
    --primary: #6e759f;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f6f8fb;
    --dark: #343a40;
    --light-bg:#f9f9f9;
    --background: #0000009C;
    --bluen-2:#5137ee;
    --cram:#f5f3fe;

    --sky:#1975ff;
}

