body{
  font-size: 14px;
font-family: sans-serif;

background-color: #f7f7f7;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul li{
  list-style: none;
}
ol li{
  list-style: none;
}
a{
  text-decoration: none;
}
.containar{
width: 100%;
  margin: 30px;

  
}



